<header style="background-color:#545151;" >
     
    <div class="container">  
       
        <div class="navbar-header">
    <ul class="nav navbar-nav"><li class="active">
            <a href="/home">Home</a></li>
        <li><a href="/home">contact</a></li>
        <li><a href="/home">About</a></li>
        
    </ul></div>
       
    </div>
    
</header>

    <head> 
        
    <title> Login page</title>
    <meta charset="utf-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      </head>
    <body>
        <div class="col-sm-offset-1 col-sm-10"> <br><br>
        <div class="jumbotron">
              
                <h2> Welcome to Hospital Management system !!</h2> 
 
     <p>
         They cut healthcare and treatment costs, reduce the number of hospital visits, and ensure healthier children, 
         families and communities.</p>
   <span class="pull-right">-Seth Berkley</span>
  
        </div>
        </div>  
        <p>
        {% block content %}
    {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method="post" action=".">{% csrf_token %}
       
        <div class="col-sm-offset-1 col-sm-4">

<br>


        
         <div class="form-group">
                    <label for="inputEmail" class="sr-only">Username</label>
                    <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required="required" autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required="required" />
                </div>
        
        <input type="submit" class="btn btn-info" value="Login" />
        <input type="reset" class="btn btn-info"  value="reset">
        <br><br>
         <a href="/register">Register as patient.</a>
         <br>
        <a href="/user/password/reset"> Forgot Password </a>
        </div>
        <input type="hidden" name="next" value="/home" />
    </form>
    </body>
{% endblock %}