<h1> Welcome to Health care Management system !!</h1>
{% extends "base.html" %}
    <head> hms </head>
    <title> Login page</title>
    <body>
{% block content %}
    {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method="post" action=".">{% csrf_token %}
        <select name="user_role">
            <option value="Staff"> <a href="Stafflogin.html">Staff</a></option>
            <option value="Doctor"> <a href="Doclogin.html">Doctor</a></option>
            <option value="Patient"><a href="patientlogin.html">Patient</a></option>
            <option value="Admin"><a href="adminlogin.html">Admin</a></option>
        </select><br><br>

        <table border="0" style="margin-top: 15px; margin-bottom: 15px;">
            <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
            <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
        </table>
        <input type="submit" value="Login" />
        <input type="reset" value="reset">
        <a href="/user/password/reset"> Forgot Password </a>

        <input type="hidden" name="next" value="/home" />
    </form>
    <a href="/register">Register as patient.</a>
{% endblock %}