<header style="background-color:#545151;" >
     
    <div class="container">  
       
        <div class="navbar-header">
    <ul class="nav navbar-nav"><li class="active">
            <a href="/home">Home</a></li>
        <li><a href="/home">contact</a></li>
        <li><a href="/home">About</a></li>
        
    </ul></div>
       
    </div>
    
</header>

    <head> 
        
    <title> Login page</title>
    <meta charset="utf-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      </head>
{% extends "base.html" %}
{% block title %}Welcome to Hospital Management system{% endblock %}
{% block head %}Welcome to Hospital Management system{% endblock %}
{% block content %}
    <p>Welcome {{ user.username }} !!!</p>
    <p>This is a staff home page</p>
    <form  method="post">
        <a href="/user/sanction_leave">
            <button type="button" name="Sanction_Leave" class="btn btn-info">Sanction Leave Request</button><br></a><br> <br>
        
      </form>
    
    <a href="/logout/">Logout</a>
{% endblock %}